name: Day 5 - Pull Request Trigger

on:
  pull_request:

jobs:
  pr-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: PR validation
        run: echo "Pull Request check is running"

  
